{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<header>
		<h1>Todo List</h1>
	</header>

	<section class="todos">
		<a href="{{ path('add-todo') }}">
			<div class="add-todo">
				<div>
					<i class="fas fa-plus"></i>
				</div>
			</div>
		</a>
		{% for todo in todos %}
			<a href="{{ path('todo', {id: todo.id}) }}">
				<div class="todo">
					<h3>{{ todo.title }}</h3>
					<div>
						{% if todo.deadline is not null %}
							<span><i class="fas fa-calendar-times"></i> {{ todo.deadline|date("Y-m-d") }}</span>
						{% endif %}
					</div>
				</div>
			</a>
		{% endfor %}
	</section>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
