{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<header>
		<h1>Todo List</h1>
	</header>

	<section class="todos">
		<a href="/">
			<div class="todo">
				+
			</div>
		</a>
		{% for todo in todos %}
			<a href="{{ path('todo', {id: todo.id}) }}">
				<div class="todo">
					<h3>{{ todo.title }}</h3>
					<div>
						<span>{{ todo.createdAt|date("Y-m-d") }}</span>
					</div>
				</div>
			</a>
		{% endfor %}
	</section>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
