{% extends 'base.html.twig' %}

{% block title %}
	Add a todo
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('addTodo') }}
{% endblock %}

{% block body %}
	<div class="add-todo">
		<header>
            <h2><a href="{{ path('home') }}"><i class="fas fa-arrow-left"></i></a> Add a todo</h2>
        </header>

		{{ form_start(form) }}
		<div>
            <div class="field">
			    {{ form_label(form.title) }}
			    {{ form_widget(form.title) }}
            </div>
            <div class="form-error">
				{{ form_errors(form.title) }}
			</div>
		</div>

		<div>
            <div class="field">
			    {{ form_label(form.content) }}
			    {{ form_widget(form.content) }}
            </div>
            <div class="form-error">
				{{ form_errors(form.content) }}
			</div>
		</div>

		<div>
            <div class="field">
			    {{ form_label(form.deadline) }}
			    {{ form_widget(form.deadline) }}
            </div>
            <div class="form-error">
				{{ form_errors(form.deadline) }}
			</div>
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('addTodo') }}
{% endblock %}
