{% extends 'base.html.twig' %}

{% block title %}
	{{todo.title}}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('todo') }}
{% endblock %}

{% block body %}
	<div class="todo">
		<header>
			<h2><a href="{{ path('home') }}"><i class="fas fa-arrow-left"></i></a> {{todo.title}}</h2>
		</header>

		<section>
			<p>{{todo.content}}</p>
			<span>Created at :
				{{todo.createdAt|date("Y-m-d")}}</span>
			{% if todo.deadline %}
				<span>Deadline :
					{{todo.deadline|date("Y-m-d")}}</span>
			{% endif %}
		</section>

		<footer>
			<div>
				<a href="/">Modify</a>
			</div>
			<div>
				<a href="/">Delete</a>
			</div>
		</footer>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('todo') }}
{% endblock %}
