<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav>
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('home') }}"><i class="fas fa-home"></i></a>
                {% endif %}
            </div>
            <div>
			    <h1>Todo List</h1>
            </div>
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i></a>
                {% endif %}
            </div>
		</nav>
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
